h1 {
  text-align: center;
  font-family: helvetica;
}

a:visited { 
  text-decoration: none; 

  }

.navbar {
  overflow: hidden;
  background-color: rgb(148, 35, 148);
  display: flex;
  justify-content: center;
  font-family: cursive;
  font-size: x-large;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: rgb(186, 125, 186);
}

.navbar a.active {
  background-color: rgb(81, 19, 81);
  color: white;
}

body {
  background-color: lavender;
}

div {
  font-family: helvetica;
  text-align: left;
  margin: auto;
  line-height: 100%;
  color: rgb(148, 35, 148);
}

.container {
  display: flex;

  padding-top: 2%;
  padding-bottom: 0;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: left;
  background-color: wheat;
  width: 60%;
  border-radius: 2%;
  line-height: 125%;
}

.text {
  line-height: 125%;
}

.blank{
  list-style-type: none;
}

ul {
  line-height: 125%;
  list-style: none;

}

.clean {
  color: rgb(148, 35, 148);
  text-decoration: none;
}

.centerspace {
  padding-top: 1%;
  text-align: center;
}

.center {
  text-align: center;
}

@font-face {
  font-family: "Fortnite";
  src: url("fonts/fortnite.ttf") format("truetype");
}

.fortnite {
  font-family: "Fortnite";
}

iframe {
  margin: auto;
}

.small {
  width: 25%;
  height: auto;
}